= # little rendition for collection item history
.page-summary-width
  %li.no-bullets{data: {role: "collection-item-version", "history-idx" => collection_item_state_counter }}

    .time-and-user
      = render 'users/user_and_time', user: collection_item_state.user.name, thing: collection_item_state

    .history-indent

      = render 'layouts/header_and_footers/in_list_header', ci: collection_item_state

      = ContentHtmlGenerator.generate_with_small_images(collection_item_state)

      Implement tag and category history
      = render 'layouts/header_and_footers/in_list_footer', categories: collection_item.categories_as_arr, tags: collection_item.tags_as_arr

.page-summary-width-plus
  %hr