= # used to display a collection item in a list of collection items
.page-summary-width
  .search-result{data: {'page-slug' => collection_item.slug}}
    .parent-div
      .summary-header.page-summary-width-plus
        = link_to collection_item.title.title, collection_item_path(collection_item), class: 'summary-title'
        .float-right
          - if current_user && current_user.can_delete?(collection_item)
            = link_to fa_icon('trash-o'), collection_item,
                      :data =>  {:confirm => 'Are you sure you want to remove this collection_item? This cannot be undone.',
                                 :role    => 'delete-page'},
                      :method => :delete

      .summary-indent

        = render 'layouts/header_and_footers/in_list_header', ci: collection_item

        %a{href: collection_item_path(collection_item)}

          .float-left.width-150px.page-summary-image-align
            - if found_image = ContentHtmlGenerator.page_image(collection_item)
              = image_tag(found_image)
            - else
              = render 'shared/no_image/no_image'
            %br
          .content-preview
            = ContentHtmlGenerator.generate_with_small_images(collection_item)

        = render 'layouts/header_and_footers/in_list_footer', categories: collection_item.categories_as_arr, tags: collection_item.tags_as_arr

.page-summary-width-plus
  %hr