.search-result{data: {'page-slug' => collection_item.slug}}
  .page-summary-width
    .parent-div
      .summary-header.page-summary-width-plus
        = link_to collection_item.title, collection_item_path(collection_item), class: 'summary-title'
        .float-right
          - if current_user && current_user.can_delete?(collection_item)
            = link_to fa_icon('trash-o'), collection_item,
                      :data =>  {:confirm => 'Are you sure you want to remove this collection_item? This cannot be undone.',
                                 :role    => 'delete-page'},
                      :method => :delete

      - if collection_item.item_number
        .history-tags-and-categories.page-summary-footer-indent_and_spacing.clear
          = "Collection item #{collection_item.item_number}"

      %div
        .float-left.width-150px.page-summary-image-indent.page-summary-image-align
          = link_to image_tag(ContentHtmlGenerator.page_image(collection_item) || 'http://localhost/Pictures/no_image.png'), page_url(collection_item)
          %br
        .content-preview
          = ContentHtmlGenerator.generate_part(collection_item).html_safe

      .history-tags-and-categories.page-summary-footer-indent_and_spacing.clear
        .tags-and-categories
          = render 'tags/tags', tags: collection_item.tags_as_arr
        .tags-and-categories
          = render 'categories/categories', categories: collection_item.categories_as_arr
      .page-summary-width-plus
        %hr