.width-500px
  %h1.page-title Resolve editing conflicts

  = render 'edit_conflicts/user_guide_text'

  = simple_nested_form_for(collection_item, :html => {:data => {:role => 'collection-item-form'}, :multipart => true}) do |f|
    = f.hidden_field :lock_version

    = render 'edit_conflicts/title_conflict',  f: f

    = render 'edit_conflicts/text_conflict',  f: f, field: :item_number, current: want_item_number, desired: collection_item.item_number

    = render 'edit_conflicts/text_conflict',  f: f, field: :location, current: want_location, desired: collection_item.location

    = render 'edit_conflicts/description_conflict',  f: f

    = render 'edit_conflicts/text_conflict',  f: f, field: :categories_as_str, current: want_str_categories, desired: collection_item.categories_as_str

    = render 'edit_conflicts/text_conflict', f: f, field: :tags_as_str, current: want_str_tags, desired: collection_item.tags_as_str

    %br
    = f.submit class: 'btn btn-primary'
