.page-title-main= collection_item.title.title

= render 'layouts/tab_nav'

#my-tab-content.tab-content

  #content-tab.tab-pane.active
    = render 'collection_items/collection_item_content'

  #resource-tab.tab-pane
    resources not implemented yet for collection items
    = render  'resources/page_resources', page: collection_item

  #history-tab.tab-pane
    history not implemented yet for collection items
    = render 'collection_items/content_page_history'