.page-title-main= collection_item.title.title

= render partial: 'layouts/tab_nav'

#my-tab-content.tab-content

  #content-tab.tab-pane.active
    = render partial: 'collection_items/collection_item_content'

  #resource-tab.tab-pane
    resources not implemented yet
    = # render partial: 'resources/page_resources'

  #history-tab.tab-pane
    %div{data: {role: "collection-item-versions"}}
      = paginate collection_item_states, param_name: :page_ci

      - collection_item_states.each_with_index do |state, ind|
        %li.no-bullets{data: {role: "collection-item-version", "history-idx" => ind}}
          .history-title
            = state.title.title
          %br
          = state.description
          %br
          = state.item_number
          %br
          = state.location
          %hr