.page-title-main= collection_item.title.title
Collection item

= render partial: 'layouts/tab_nav'

#my-tab-content.tab-content

  #content-tab.tab-pane.active
    = ContentHtmlGenerator.generate_full(collection_item).html_safe
    %p= collection_item.description
    %p= collection_item.location
    %p= collection_item.item_number
    - if current_user.can_update?(collection_item)
      %p= link_to "Edit Collection Item", edit_collection_item_path(collection_item)
    = render 'shared/subscriptions', subscribable: collection_item
    .std-width
      #comments.comments-spacer
        = render 'comments/comments_page_tab', commentable: collection_item

  #resource-tab.tab-pane
    resources not implemented yet
    = # render partial: 'resources/page_resources'

  #history-tab.tab-pane
    %div{data: {role: "collection-item-versions"}}
      = paginate collection_item_states, param_name: :page_ci

      - collection_item_states.each_with_index do |state, ind|
        %li.no-bullets{data: {role: "collection-item-version", "history-idx" => ind}}
          .history-title
            = state.title.title
          %br
          = state.description
          %br
          = state.item_number
          %br
          = state.location
          %hr