- if comment.persisted? && current_user.can_read?(comment)
  %li{'data-comment-idx' => comment_counter }
    .time-and-user
      = render 'users/user_and_time', user: comment.user.name, thing: comment
    .comment-content
      = comment.content.html_safe
      - unless comment.approved?
        %p.clear.red
          This comment is awaiting approval
      - if current_user && current_user.can_delete?(comment)
        .clear.float-right
          = link_to 'Remove comment', page_comment_path(comment.page, comment),
                    :class   => 'remove-comment',
                    :data => { :confirm => 'Are you sure you want to remove this page? This cannot be undone.' },
                    :method  => :delete
      - if current_user && current_user.can_disapprove?(comment)
        .clear.float-right
          = link_to 'Disapprove comment', page_comment_disapprove_path(comment.page, comment),
                    :class   => 'disapprove-comment',
                    :data => { :confirm => 'Are you sure you want to remove this page? This cannot be undone.' },
                    :method  => :post
      - if current_user && current_user.can_approve?(comment)
        .clear.float-right
          = link_to 'Approve comment', page_comment_approve_path(comment.page, comment),
                    :class   => 'approve-comment',
                    :data => { :confirm => 'Are you sure you want to remove this page? This cannot be undone.'} ,
                    :method  => :post
  %hr