.parent-div

  -# TODO try to remove classes like 'float left'
  %h2#comment-title.float-left
    Comments

  - if current_user
    #comment-button.float-right
      = link_to("Add a comment", '#', class: "btn btn-primary")
    #comment-form.hiddenx
      = page.new_comment_form_as_html(current_user)
  - else
    You need to
    %a{href: new_user_session_path}
      sign in
    to comment
  .clear

  %br
  -if @approved_comments.present?
    %ul.no-bullets
      = render partial: 'comments/comment', collection: page.approved_comments
  - else
    No comments yet

  -if @rejected_comments.present?
    %ul.no-bullets
      %h4 Rejected comments
      %table
      -for comment in @rejected_comments
        %tr
          %td
            = check_box_tag "comment_idx[]", comment.id, true
            = truncate(comment.content, 30)
            = link_to "not spam",
              approve_comment_path(comment),
              :confirm => "Are you sure?",
              :method => put
      %p
        = submit_tag "Destroy checked"

  - else
    %br
    No rejected comments