- if want_title != collection_item.name
  %h2  Title differs
  = compare_versions(collection_item.name, want_title).html_safe
  = f.fields_for :title do |title_form|
    = title_form.input :title, label: false, input_html: {id: '_title'}, wrapper_html: {data: {role: 'title'}}, error_html: {data: {role: 'error'}}
-else
  = f.fields_for :title do |title_form|
    = title_form.input :title, as: :hidden, input_html: {id: '_title'}, wrapper_html: {data: {role: 'title'}}, error_html: {data: {role: 'error'}}
