.float-left
  %div
    %h4.recent-underlining-spacing.subscription-column-title-spacing= title

    - path_helper_name = "delete_all_#{descr}_subscriptions_subscriptions_path"
    - path_helper_name.gsub!(/ /,'_')
    - cl = 'btn btn-disabled button-spacing'
    - case descr
      - when 'page'
        - cl = 'btn btn-primary button-spacing' if page_subscriptions.any?
      - when 'collection item'
        - cl = 'btn btn-primary button-spacing' if collection_item_subscriptions.any?
      - when 'collection item'
        - cl = 'btn btn-primary button-spacing' if collection_item_subscriptions.any?

    = link_to("Delete all #{descr} subscriptions", @_controller.send(path_helper_name.to_sym), class: cl)

  .recent-entries-col.no-bullets-in-list.subscription-column-above-list-spacing
    - if subscriptions.any?
      - subscriptions.each.with_index do |p, i|
        = render 'subscriptions/index/subscription', page: p, subscription_counter: i.to_s
    -else
      No #{descr} subscriptions

      .clear
.float-left.recent-entries-col-spacer
  &nbsp; &nbsp; &nbsp; &nbsp;
