.recent-page-font
  .float-left
    %h4.recent-underlining-spacing New pages
    %hr
    .recent-entries-col.recent-underlining-spacing
      - recently_created_pages.each do |p|
        .float-left.recent-name-col
          %a{href: page_path(p.slug)} #{p.title}
        .float-right.recent-date-col.recent-date-color
          = p.created_at.strftime('%e %B %Y')
        .clear
        %hr
  .float-left.recent-entries-col-spacer
    &nbsp;

  .float-left
    %h4.recent-underlining-spacing  Recent page edits
    %hr
    .recent-entries-col.recent-underlining-spacing
      - recently_edited_pages.each do |p|
        .float-left.recent-name-col
          %a{href: page_path(p.slug)} #{p.title}
        .float-right.recent-date-col.recent-date-color
          = p.created_at.strftime('%e %B %Y')
        .clear
        %hr
  .float-left.recent-entries-col-spacer
    &nbsp;

  .float-left
    %h4.recent-underlining-spacing  New comments on
    %hr
    .recent-entries-col.recent-underlining-spacing
      - recently_created_comments.each do |c|
        .float-left.recent-name-col
          %a{href: page_path(c.page.slug)+'#comments'} #{c.page.title}
        .float-right.recent-date-col.recent-date-color
          = c.created_at.strftime('%e %B %Y')
        .clear
        %hr