= simple_form_for(page, :html => {:data => {:role => 'page-form'}}) do |f|
  = f.input :lock_version, as: :hidden

  = f.fields_for :title do |title_form|
    - titl = page.name
    - (titl = params[:page_title] || '') if (titl == nil || titl == '')
    = title_form.input :title, input_html: {value: titl, id: 'page_title'}, wrapper_html: {data: {role: 'title'}}, error_html: {data: {role: 'error'}}

  = f.input :description, as: :text, wrapper_html: {data: {role: 'description'}}, error_html: {data: {role: 'error'}}

  = f.input :categories_as_str, label: 'Categories', wrapper_html: {data: {role: 'categories'}}, error_html: {data: {role: 'error'}}

  = f.input :tags_as_str, label: 'Tags', wrapper_html: {data: {role: 'tags'}}, error_html: {data: {role: 'error'}}

  = f.button :submit, class: 'btn-primary', data: {role: 'page-item-button'}
