= # little rendition for collection item history
.page-summary-width
  %li.no-bullets{data: {role: "collection-item-version", "history-idx" => page_state_counter }}

    .time-and-user
      = render 'users/user_and_time', user: page_state.user.name, thing: page_state

    .history-indent

      .history-title= page_state.name

      = ContentHtmlGenerator.generate_with_small_images(page_state)

      Implement tag and category history
      = render 'layouts/header_and_footers/in_list_footer', categories: page_state.categories_as_arr, tags: page_state.tags_as_arr

.page-summary-width-plus
  %hr