= simple_form_for(page, :html => {:data => {:role => 'page-form'}}) do |f|
  = f.input :lock_version, as: :hidden
  = f.input :title, wrapper_html: {data: {role: 'title'}}, error_html: {data: {role: 'error'}}
  = f.input :categories, wrapper_html: {data: {role: 'categories'}}, error_html: {data: {role: 'error'}}
  = f.hint link_to("Show content editing help", '#', class: "btn btn-primary" ), id: 'help-button'
  = f.input :content, as: :text, wrapper_html: {data: {role: 'content'}}, error_html: {data: {role: 'error'}}
  = f.input :tags, wrapper_html: {data: {role: 'tags'}}, error_html: {data: {role: 'error'}}
  - if page.has_category? "#{ENV['MUSEUM_NAME']} Collection"
    = f.input :item_number
    = f.input :location

  = f.button :submit

#dialog{title: "Formatting.help", display: 'none'}
  %p Use a blank line for a new paragraph.
  %p Put links to wiki pages in text:
  %p &nbsp;&nbsp; [existing page name] to reference another page.
  %p &nbsp;&nbsp; [new page name] to to create a link to create a new page.
  %p Put links to other pages on the web in text:
  %p &nbsp;&nbsp; [url optional-display-text] to to create a link to create a new page.
  %p For images, YouTube videos, or Vimeo videos the following should be on lines by themselves
  %p &nbsp;&nbsp; [url-for-image optional-width]
  %p &nbsp;&nbsp;[url-for-youtube-video optional-width]
  %p &nbsp;&nbsp;[url-for-vimeo-video optional-width]
  %p Titles, for successive levels start the line with # ## or ###
  %p List item starts with * with blank lines above and below list
  %p Quote starts with >
  %p &nbsp;&nbsp; replicate for successive quoted paragraphs
  %p
    Google markdown for more formatting or see its
    %a{href: 'http://daringfireball.net/projects/markdown/syntax'}
      documentation.