= simple_form_for(page, :html => {:data => {:role => 'page-form'}}) do |f|
  = f.input :lock_version, as: :hidden
  = f.fields_for :page_title do |title_form|
    = title_form.input :title, input_html: {id: "page_title"}, wrapper_html: {data: {role: 'title'}}, error_html: {data: {role: 'error'}}

  = f.input :categories, wrapper_html: {data: {role: 'categories'}}, error_html: {data: {role: 'error'}}
  = f.input :content, as: :text, wrapper_html: {data: {role: 'content'}}, error_html: {data: {role: 'error'}}
  = f.hint link_to("Show content editing help", '#', class: 'btn' ), id: 'help-button'
  = f.input :tags, wrapper_html: {data: {role: 'tags'}}, error_html: {data: {role: 'error'}}

  = f.button :submit, class: 'btn-primary', data: {role: 'create-page-button'}

