= # used to display a collection item in a list of collection items
.page-summary-width
  .search-result{data: {'page-slug' => page.slug}}
    .parent-div
      .summary-header.page-summary-width-plus
        = link_to page.title.title, page_path(page), class: 'summary-title'
        .float-right
          - if current_user && current_user.can_delete?(page)
            = link_to fa_icon('trash-o'), page,
                      :data =>  {:confirm => 'Are you sure you want to remove this page? This cannot be undone.',
                                 :role    => 'delete-page'},
                      :method => :delete

      .summary-indent

        .float-left.width-150px.page-summary-image-align
          - if found_image = ContentHtmlGenerator.page_image(page)
            = link_to image_tag(found_image), page_url(page)
          - else
            = render 'shared/no_image/no_image'
          %br
        .content-preview
          = ContentHtmlGenerator.generate_with_small_images(page)

      .history-tags-and-categories.page-summary-footer-indent_and_spacing.clear
        .tags-and-categories
          = render 'categories/categories', categories: page.categories_as_arr
          = render 'tags/tags', tags: page.tags_as_arr

.page-summary-width-plus
  %hr