.search-result{data: {'page-slug' => page_decorator.slug}}
  .page-summary-width
    .parent-div
      .summary-header.page-summary-width-plus
        = link_to page_decorator.title, page_path(page_decorator), class: 'summary-title'
        .float-right
          - if current_user && current_user.can_delete?(page_decorator)
            = link_to fa_icon('trash-o'), page_decorator,
                      :data =>  {:confirm => 'Are you sure you want to remove this page? This cannot be undone.',
                                 :role    => 'delete-page'},
                      :method => :delete

      %div
        .float-left.width-150px.page-summary-image-indent.page-summary-image-align
          = link_to image_tag(ContentHtmlGenerator.page_image(page_decorator) || 'http://localhost/Pictures/no_image.png'), page_url(page_decorator)
          %br
        .content-preview
          = ContentHtmlGenerator.generate_part(page_decorator).html_safe

      .history-tags-and-categories.page-summary-footer-indent_and_spacing.clear
        .tags-and-categories
          = render 'tags/tags', tags: page_decorator.tags_as_arr
        .tags-and-categories
          = render 'categories/categories', categories: page_decorator.categories_as_arr
      .page-summary-width-plus
        %hr