.std-width

  .page-title-after-type
    = page.title
  %br/

  .content-content
    = page.content_as_html(page)

  .content-footer.parent-div
    .content-t-and-c.float-left
      .bold
        Tags
      = render  'tags/tags', tags: page.tags_as_arr
      %br
      .bold
        Categories
      = category_list(page.categories_as_arr)
    .content-edit-button.float-right.button-width
      - if current_user.can_update?(page)
        .float-right
          = link_to("Edit page", edit_page_path(page), class: 'btn btn-primary button-width button-spacing')
          %clear
        -# TODO Phrase button more appropriately, or create a means to select existing resource.
        .float-right
          = link_to("Add resource", new_resource_path, class: 'btn btn-primary button-width button-spacing')
        - if current_user.can_unsubscribe?(page)

          .float-right
            = link_to( 'Unsubscribe', unsubscribe_page_path(page), class: 'btn btn-primary button-width')
        - if current_user.can_subscribe?(page)

          .float-right
            = link_to( 'Subscribe', subscribe_page_path(page), class: 'btn btn-primary button-width')
  .clear

  -# TODO Could be important when 'categories' changes
  - if page.has_category?('UMCS Collection')
    .content-footer.parent-div

      .float-left
        %span.bold
          Item number
        \:
        = page.item_number
      .float-right
        %span.bold
          Location
        \:
        =  page.location
  .clear

.std-width
  #comments.comments-spacer
    = render partial: 'comments/comments_page_tab'