.width-500px
  %h1.page-title Resolve editing conflicts

  = render 'shared/conflict_edits/conflict_help_text', page_type: 'page'

  = simple_nested_form_for(page, :html => {:data => {:role => 'collection-item-form'}, :multipart => true}) do |f|
    = f.hidden_field :lock_version

    = render 'edit_conflicts/title_conflict',  f: f

    = render 'edit_conflicts/description_conflict',  f: f

    = render 'edit_conflicts/text_conflict',  f: f, field: :categories_as_str, desired: want_str_categories, current: collection_item.categories_as_str

    = render 'edit_conflicts/text_conflict', f: f, field: :tags_as_str, desired: want_str_tags, current: collection_item.tags_as_str

    %br
    = f.submit class: 'btn btn-primary'
