.page-title-main= page.title.title

= render 'layouts/tab_nav'

#my-tab-content.tab-content

  #content-tab.tab-pane.active
    = render 'pages/page_content'

  #resource-tab.tab-pane
    = render  'resources/page_resources', page: page

  #history-tab.tab-pane
    = render 'pages/content_page_history'