.container
  .content
    .std-width
      .page-title
        = resource.title
      - res_url = make_url(resource)
      %a{href: res_url, class: "content-content"}
        -if Resource.valid_image_url?(res_url)
          %img.width-600px{src: res_url}
        -elsif resource.valid_url?
          = resource.url.split('/')[-1]
        - else
          %span.red The resource could not be previewed because the link provided was not valid
      %br
      %br
      %br
      %p
      = ContentHtmlGenerator.generate_full(resource).html_safe
      %br
      .content-footer.parent-div
        .float-left
          = render 'resources/resource_used_by'
        .content-edit-button.float-right
          - if current_user.can_update?(resource)
            = link_to("Edit resource", edit_resource_path(params), class: "btn btn-primary")