%h1#top Tagged '#{params[:id]}'

- @ci_count = Tag.where(name: params[:id]).first.collection_items.count
- @p_count = Tag.where(name: params[:id]).first.pages.count
- @r_count = Tag.where(name: params[:id]).first.resources.count
- @tagged_collection_items = Kaminari.paginate_array( (Title.all.select{|t| t.titleable.has_tag?(params[:id]) && t.titleable.class == CollectionItem ? t.titleable : nil }.collect{|t| t.titleable} )).page(params[:page]).per(10)
- @tagged_pages =            Kaminari.paginate_array( (Title.all.select{|t| t.titleable.has_tag?(params[:id]) && t.titleable.class == Page ? t.titleable : nil }.collect{|t| t.titleable} )).page(params[:page]).per(10)
- @tagged_resources =        Kaminari.paginate_array( (Title.all.select{|t| t.titleable.has_tag?(params[:id]) && t.titleable.class == Resource   ? t.titleable : nil }.collect{|t| t.titleable} )).page(params[:page]).per(10)

- if @ci_count > 0
  = render 'layouts/categorised_or_tagged/collection_items_active', collection_item_count: @ci_count, resource_count: @r_count, page_count: @p_count
  = render 'tags/show-tag/collection_item'
- elsif @p_count > 0
  = render 'layouts/categorised_or_tagged/pages_active', collection_item_count: @ci_count, resource_count: @r_count, page_count: @p_count
  = render 'tags/show-tag/page'
- elsif @r_count > 0
  = render 'layouts/categorised_or_tagged/resources_active', collection_item_count: @ci_count, resource_count: @r_count, page_count: @p_count
  = render 'tags/show-tag/resource'
- else
  = @which = 'none'







