- @tagged_pages_and_coll_items = Kaminari.paginate_array( (Title.all.select{|t| t.titleable.has_tag?(params[:id]) ? t.titleable : nil }.collect{|t| t.titleable} )).page(params[:page]).per(10)

%h1#top Tagged #{params[:id]}

= paginate @tagged_pages_and_coll_items

- @tagged_pages_and_coll_items.each do |pci|
  - if pci.respond_to?(:item_number)
    = render 'collection_items/collection_item_summary', collection_item: pci
  - elsif pci.respond_to?(:content)
    = render 'pages/page_summary', page: pci
  - else
    = render 'resources/resource_summary', resource: pci

  %br/

= paginate @tagged_pages_and_coll_items