- @content_objects = Kaminari.paginate_array( (Title.all.select{|t| t.titleable.has_tag?(params[:id]) ? t.titleable : nil }.collect{|t| t.titleable} )).page(params[:page]).per(10)

%h1#top Tagged #{params[:id]}

= paginate @content_objects

- @content_objects.each do |cont_obj|

  - if cont_obj.respond_to?(:item_number)
    = render 'collection_items/collection_item_summary', collection_item: cont_obj

  - elsif cont_obj.respond_to?(:url)
    = render 'resources/resource_summary', resource: cont_obj

  - else
    = render 'pages/page_summary', page: cont_obj

  %br/

= paginate @content_objects