= simple_nested_form_for(resource, :html => {:data => {:role => 'resource-form'}, :multipart => true}) do |f|
  = f.input :lock_version, as: :fake, as: :hidden
  = f.input :slug, input_html: { value: slug }, as: :hidden

  = f.fields_for :title do |title_form|
    = title_form.input :title, input_html: {id: 'page_title'}, wrapper_html: {data: {role: 'title'}}, error_html: {data: {role: 'error'}}

    = f.input :description

    = render 'resources/url_or_file', f: f

    = f.input :categories_as_str, label: 'Categories', wrapper_html: {data: {role: 'categories'}}, error_html: {data: {role: 'error'}}

    = f.input :tags_as_str, label: 'Tags', wrapper_html: {data: {role: 'tags'}}, error_html: {data: {role: 'error'}}



  %br
  %br
  %br
  = f.label 'Optionally add the resource to one or more pages (you can also do this later if you want to)'
  = f.fields_for :resource_usages do |title_form|
    .parent-div.width-400px
      .float-left
        = title_form.input :page_title, as: :autocomplete, url: autocomplete_resourceable_title_resources_path, label: false
      .float-right
        = title_form.link_to_remove fa_icon('times'), class: 'btn btn-mini btn-error red'
  = f.link_to_add "Add a page", :resource_usages, class: 'btn'
  %br
  %br
  %br
  = f.button :submit, class: 'btn btn-primary'
