.std-width

  = render 'resources/resource_used_by'
  %br/

  %a{href: resourcez_url_path(resource), class: "content-content"}

    - case true

      -when resource.valid_image_url?
        %img.width-600px{src: resourcez_url_path(resource)}

      - #todo tidy below w resourcez_url_path(resource) ? or refactor to better
      - when resource.valid_url?
        - resource.url.split('/')[-1]

      - when resource.valid_other_filename?
        - split_path = resource.file_type_id_and__name
        - src = uploaded_path(split_path[:type], split_path[:id], split_path[:name])
        %href{src: src} #{split_path[:name]}

      - else
        %span.red
          Internal error: The resource could not be previewed because the stored link was not valid

  = ContentHtmlGenerator.generate_full(resource)

  = render 'layouts/header_and_footers/resource_footer', content_source: resource, edit_content_source_path: edit_resource_path(resource)

  #comments.comments-spacer
    = render 'comments/comments', commentable: resource