.page-summary-width
  .search-result{data: {'resource-title' => resource.title}}
    .parent-div
      .summary-header.page-summary-width-plus
        = link_to resource.title, resource_path(resource), class: 'summary-title'
        .float-right
          - if current_user && current_user.can_delete?(resource)
            = link_to fa_icon('trash-o'), resource,
                      :data =>  {:confirm => 'Are you sure you want to remove this resource? This cannot be undone.',
                                 :role    => 'delete-resource'},
                      :method => :delete

      %div
        .float-left.width-150px.page-summary-image-indent.page-summary-image-align
          = link_to image_tag(resource.image_url, class: 'width-150px'), resource_path(resource), class: 'resources-summary-width-and-margin'
          %br
        .content-preview
          - if resource.description == nil || resource.description.strip == ''
            = 'No resource description'
          - else
            = resource.description
          = # ContentHtmlGenerator.generate_part(collection_item).html_safe

      .history-tags-and-categories.page-summary-footer-indent_and_spacing.clear
        .tags-and-categories
          = render 'resources/resource_used_by', resource: resource

.page-summary-width-plus
  %hr