.content-t-and-c
  - if resource.resourceables != nil && resource.resourceables != []
    .title-color.bold Resource for
    %div
      - started = false
      - res_list = resource.resourceables.select!{ |r| r} || []
      - resource.resourceables.sort{ |a,b| a.name <=> b.name }.each do |r|
        = ', ' if started
        - started = true
        - if r.is_a?(Page)
          = link_to r.name, page_path(r)
        - else
          = link_to r.name, collection_item_path(r)
  - else
    .title-color.bold This is not a resource for any collection items or other pages yet
.color-bbb
  - #todo do we want an identification here?
  = #"Resource created by #{resource.user.name}"