= # little rendition for collection item history
.page-summary-width
  %li.no-bullets{data: {role: "collection-item-version", "history-idx" => resource_state_counter }}

    .time-and-user
      = render 'users/user_and_time', user: resource_state.user.name, thing: resource_state

    .history-indent

      .history-title
        = resource_state.title.title

      = ContentHtmlGenerator.generate_with_small_images(resource_state)

      .history-tags-and-categories
        .tags-and-categories
          = render 'categories/categories', categories: resource_state.categories.collect{|t| t.name }
          = render 'tags/tags', tags: resource_state.tags.collect{|t| t.name }

.page-summary-width-plus
  %hr