.width-500px
  - #todo pages for this resource
  %h1.resource-title Resolve editing conflicts

  = render 'shared/conflict_edits/conflict_help_text', page_type: 'page'

  = simple_nested_form_for(resource, :html => {:data => {:role => 'resource-form'}, :multipart => true}) do |f|
    = f.hidden_field :lock_version

      = render 'edit_conflicts/title_conflict',  f: f

      = render 'edit_conflicts/text_conflict',  f: f, field: :item_number, desired: want_item_number, current: collection_item.item_number

      = render 'edit_conflicts/text_conflict',  f: f, field: :location, desired: want_location, current: collection_item.location

      = render 'edit_conflicts/description_conflict',  f: f

      = render 'edit_conflicts/text_conflict',  f: f, field: :categories_as_str, desired: want_str_categories, current: collection_item.categories_as_str

      = render 'edit_conflicts/text_conflict', f: f, field: :tags_as_str, desired: want_str_tags, current: collection_item.tags_as_str

      %br
      = f.submit class: 'btn btn-primary'
