.container
  .content
    .std-width
      .page-title
        = resource.title
      %a{href: resource.url, class: "content-content"}
        -if resource.valid_image_url?
          %img.width-600px{src: resource.source}
        -elsif resource.valid_url?
          = resource.url.split('/')[-1]
        - else
          %span.red
            The resource could not be previewed because the link provided was not valid
      %br
      %br
      %br
      %p
        = resource.description
      %br
      .content-footer.parent-div
        .content-t-and-c.float-left
          - if resource.resourceables != nil && resource.resourceables != []
            Resource belongs to
            %div
              - started = false
              - resource.resourceables.sort{ |a,b| a.hacky_title <=> b.hacky_title }.each do |r|
                = ', ' if started
                - started = true
                - if r.is_a?(Page)
                  = link_to r.title, page_path(r)
                - else
                  = link_to r.title.title, collection_item_path(r)
          - else
            This is not a resource for any pages yet, edit to associate with pages
          .color-bbb
            = "Resource created by #{resource.user.name}"
        .content-edit-button.float-right
          - if current_user.can_update?(resource)
            = link_to("Edit resource", edit_resource_path(params), class: "btn btn-primary")