.container
  .content
    .std-width
      .page-title
        = resource.title
      %a{href: resource.file, class: "content-content"}
        -if resource.valid_image_url?
          %img.width-600px{src: resource.source}
        -elsif resource.valid_url?
          = link_to resource.url.split('/')[-1], resource.url
        - else
          %span.red
            The resource could not be previewed because the link provided was not valid
      %br
      %br
      %br
      %p
        = resource.description
      %br
      .content-footer.parent-div
        .content-t-and-c.float-left
          - if resource.pages != nil && resource.pages != []
            Resource belongs to
            %div
              - started = false
              - resource.pages.each do |r|
                = ', ' if started
                - started = true
                %a{href: page_path(r.slug)} #{r.title}
          - else
            This is not a resource for any pages yet, edit to associate with pages
          .color-bbb
            = "Resource created by #{resource.user.name}"
        .content-edit-button.float-right
          - if current_user.can_update?(resource)
            = link_to("Edit resource", edit_resource_path(params), class: "btn btn-primary")