- if none
  %h2 Nothing is catgorised with '#{params[:category_id]}' or its subcategories
  = link_to 'Don\'t show subcategories', category_path(params[:category_id]), class: 'btn btn-primary'

- else
  %h1#top Categorised with '#{params[:category_id]}' and its subcategories
  = link_to 'Don\'t show subcategories', category_path(params[:category_id]), class: 'btn btn-primary'
  %br
  &nbsp;
  = render 'layouts/categorised_or_tagged/tab_header'
  = render 'layouts/categorised_or_tagged/tab_contents'







