- if none
  %h2 Nothing is categorised with '#{params[:id]}'
  = link_to "Show subcategories of '#{params[:id]}' as well", category_show_full_path(params[:id]),class: 'btn btn-primary'
- else
  %h1#top Categorised '#{params[:id]}'
  = link_to "Show subcategories of '#{params[:id]}' as well", category_show_full_path(params[:id]),class: 'btn btn-primary'
  %br
  &nbsp;
  = render 'layouts/categorised_or_tagged/tab_header', ci_tab_actv: ci_tab_active, p_tab_actv: p_tab_active, r_tab_actv: r_tab_active, ci_cnt: ci_count, p_cnt: p_count, r_cnt: r_count
  = render 'layouts/categorised_or_tagged/tab_contents', collection_items: paginated_collection_items, pages: paginated_pages, resources: paginated_resources, ci_tab_actv: ci_tab_active, p_tab_actv: p_tab_active, r_tab_actv: r_tab_active







