- if ! none
  %h2'Nothing is catgorised as #{params[:id]}'
- else
  %h1#top Categorised '#{params[:id]}'
  = link_to "Show subcategories of '#{params[:id]}' as well", category_show_full_path(params[:id]),class: 'btn btn-primary'
  %br
  &nbsp;
  = render 'layouts/categorised_or_tagged/tab_header', ci_claz: ci_class, p_claz: p_class, r_claz: r_class, ci_cnt: ci_count, p_cnt: p_count, r_cnt: r_count
  = render 'layouts/categorised_or_tagged/tab_contents', collection_items: paginated_categorised_collection_items, pages: paginated_categorised_pages, resources: paginated_categorised_resources, ci_claz: ci_class, p_claz: p_class, r_claz: r_class







