%ul#tabs.nav.nav-tabs{data: {tabs: 'tabs'}}

  %li{class: "#{ci_claz}"}

    %a{ href: '#collection-item-tab',     data: {toggle: 'tab'} } Collection Items (#{ci_cnt})

  %li{class: "#{p_claz}"}

    %a{ href: '#page-tab',    data: {toggle: 'tab'} } Pages (#{p_cnt})

  %li{class: "#{r_claz}"}

    %a{ href: '#resource-tab',     data: {toggle: 'tab'} } Resources (#{r_cnt})