%ul#tabs.nav.nav-tabs{data: {tabs: 'tabs'}}

  %li{class: "#{ci_class}"}

    %a{ href: '#collection-item-tab',     data: {toggle: 'tab'} } Collection Items (#{ci_count})

  %li{class: "#{p_class}"}

    %a{ href: '#page-tab',    data: {toggle: 'tab'} } Pages (#{p_count})

  %li{class: "#{r_class}"}

    %a{ href: '#resource-tab',     data: {toggle: 'tab'} } Resources (#{r_count})