.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      .row
        .span12
          = link_to ENV['MUSEUM_NAME'], root_path, class: 'brand'
          %ul.nav
            - if current_user.can_read?(CollectionItem)
              %li= link_to 'Collection', collection_items_path
            - if current_user.can_read?(Page)
              %li= link_to 'Pages', pages_path
            - if current_user.can_read?(Resource)
              %li= link_to 'Resources', resources_path
            - if current_user.can_read?(Page)
              %li= link_to 'Recent', recent_index_path

            - if current_user.can_create?(CollectionItem)
              %li= link_to "New Collection Item", new_collection_item_path, id: 'add_collection_item'
            - if current_user.can_create?(Page)
              %li= link_to 'New Page', new_page_path, :id => 'add_page_link'
            - if current_user.can_create?(Resource)
              %li= link_to 'New Resource', new_resource_path, :id => 'add_resource_link'
            - if current_user.can_read?(User)
              %li= link_to 'Users', users_path, :id => 'users_link'
          .pull-right
            %ul.nav
              -if current_user.guest?
                %li= link_to 'Sign up', new_user_registration_path, data: {role: 'sign-up'}
                %li= link_to 'Sign in',  new_user_session_path, data: {role: 'sign-in'}
              -else
                %li.dropdown
                  = link_to '#', class: "dropdown-toggle #{current_user.admin? ? 'red' : ''}", data: {toggle: 'dropdown'} do
                    = current_user.email
                    = fa_icon 'caret-down'
                  %ul.dropdown-menu
                    %li= link_to 'Profile', edit_user_registration_path
                    %li= link_to 'Sign out', destroy_user_session_path,  :method => :delete, :data => {:role => 'sign-out'}