= # Rails flash messages styled for Twitter Bootstrap 2.3 modified %>

- flash.each do |type, msgs|
  - msgs = [msgs] if msgs.class == String
  - if msgs.respond_to?(:each)
    - msgs.each do |m|
      %div{class: "alert alert-#{type == 'notice' ? 'success' : 'error'}"}
        = content_tag :div, m
  - else
    %div{class: "alert alert-#{type == 'notice' ? 'success' : 'error'}"}
      = content_tag :div, msgs

- flash = nil