.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      .row
        .span12
          = link_to ENV['MUSEUM_NAME'], root_path, class: 'brand'
          %ul.nav

            - if current_user.can_read?(CollectionItem)
              %li= #link_to 'Contents', table_of_contents_path - not needed for now
              %li.menu-highlight= link_to 'Collection', collection_items_path
              %li.menu-highlight= link_to 'Innovations', category_path('Innovation')
              %li.menu-highlight= link_to 'Computers', category_path('Manchester computer')
              %li.menu-highlight= link_to 'People', category_path('Person')


              %li.menu-highlight= link_to 'Other info', pages_path
              %li.menu-highlight= link_to 'Resources', resources_path

            %li.dropdown
              = link_to pages_path, class: "dropdown-toggle", data: {toggle: 'dropdown'} do
                New
              %ul.dropdown-menu
                - if current_user.can_create?(CollectionItem)
                  %li= link_to "Collection Item", new_collection_item_path, id: 'add_collection_item'
                - if current_user.can_create?(Page)
                  %li= link_to "Page", new_page_path, :id => 'add_page_link'
                - if current_user.can_create?(Resource)
                  %li= link_to 'Resource', new_resource_path, :id => 'add_resource_link'
                - if ! (current_user.can_create?(CollectionItem) || current_user.can_create?(Page) || current_user.can_create?(Resource))
                  %li= link_to 'Login to create (or edit) content', new_user_session_path


            %li.dropdown
              = link_to pages_path, class: "dropdown-toggle", data: {toggle: 'dropdown'} do
                Recent
              %ul.dropdown-menu
                - if current_user.can_read?(CollectionItem)
                  %li= link_to 'Collection Items', collection_items_recent_index_path, id: 'recent_collection_item'
                - if current_user.can_read?(Page)
                  %li= link_to 'Other Pages', pages_recent_index_path, :id => 'recent_page_link'
                - if current_user.can_read?(Resource)
                  %li= link_to 'Resources', resources_recent_index_path, :id => 'add_resource_link'

            - if current_user.can_read?(Subscription)
              %li= link_to 'Subscriptions', subscriptions_path

            - if current_user.can_read?(User)
              %li= link_to 'Users', users_path, :id => 'users_link'

            %li.menu-highlight= link_to 'Help', help_index_path

          .pull-right
            %ul.nav
              -if current_user.guest?
                %li= link_to 'Sign up', new_user_registration_path, data: {role: 'sign-up'}
                %li= link_to 'Sign in',  new_user_session_path, data: {role: 'sign-in'}
              -else
                %li.dropdown
                  = link_to '#', class: "dropdown-toggle #{current_user.admin? ? 'red' : ''}", data: {toggle: 'dropdown'} do
                    = current_user.name
                    = fa_icon 'caret-down'
                  %ul.dropdown-menu
                    %li= link_to 'Profile', user_path(current_user)
                    %li= link_to 'Sign out', destroy_user_session_path,  :method => :delete, :data => {:role => 'sign-out'}