<!DOCTYPE HTML>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title><%= content_for?(:title) ? yield(:title) : ENV['MUSEUM_NAME'] %></title>
  <meta name='description' content="<%= content_for?(:description) ? yield(:description) : ENV['MUSEUM_DESCRIPTION'] %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag  %>
</head>
<body>
    <%= render 'layouts/responsive_navbar' %>
    <div class="container">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
    </footer>
</body>
</html>